body{
  margin: 0px;
  padding: 0px;
}

.container{
  margin: 0px auto;
  padding: 0 15.2%;
}

.debug-red{
  border:1px solid red;
}

.debug-green{
  border:1px solid green;
}

.debug-purple{
  border:1px solid purple;
}