.second-stage {
  .container {
    .items {
      margin-top: 200px;

      .item {


        .two-blocks {
          padding: 20px 30px;

          .left-block {

            .title {
              margin-top: 9px;


            }
          }

          .right-block {}

          .center-block {
            flex: 1;

            .two-columns {

              // @media screen and (max-width: 1378px ){
              //   justify-content: space-between;
              // }
              .left-column {
                width: 331px;
                margin-left: 23px;

                // @include media('<desktop'){
                //   background: red;
                // }

                @include media('<laptop') {
                  // background: black;
                  width: 462px;
                }


                .info {
                  margin-top: 10px;

                  .details-link {
                    margin-left: 20px;
                    text-decoration: none;
                    color: $light-blue;
                  }
                }

                

              }

              .right-column {
                margin-left: 144px;


                @include media('<desktop') {
                  margin-left: 0;
                  // background: black;
                  flex:1;
                }

                @include media('<laptop'){
                  // margin-left: 10.8%;
                  // border:20px solid green;
                  // background: red;
                }

                @include media('<phone') {
                  // background: green;
                  // border: 10px solid purple;
                }

                input {
                  height: 18px;
                  width: 18px;
                  margin: 0px;
                  padding: 0px;
                  background-color: none;
                }

                form {
                  width:315px;
                  .form-title {
                    text-transform: uppercase;
                    color: $gray;
                  }

                  .three-options {
                    margin-top: 10px;

                    .label {
                      .data {
                        .price {
                          color: $blue;
                        }
                      }
                    }
                  }
                }



              }
            }
          }
        }
      }
    }
  }
}