.second-stage .container .items {
  margin-top: 200px;

  @include media('<laptop') {
    margin-top: 148px;
  }

  @include media('<phone') {
    margin-top: 138px;
  }

  .item .two-blocks {
    padding: 20px 20px;
    border: solid 1px $border-gray;

    @include media('<phone') {
      padding: 20px 20px;
      flex-direction: column;
    }

    .left-block {
      margin-left: 10px;

      img {
        width: 42px;

        @include media('<laptop') {
          width: 44px;
        }

        @include media('<phone') {
          width: 34px;
        }
      }

    }


    .center-block {
      flex: 1;
      padding-top: 9px;

      @include media('<laptop') {
        padding-top: 10px;
      }

      .two-columns {

        @include media('<phone') {
          flex-direction: column;
        }

        .left-column {
          width: 331px;
          margin-left: 23px;

          @include media('<laptop') {
            margin-left: 20px;
            width: 462px;
          }

          @include media('<phone') {
            margin-left: 0px;
            min-width: 220px;
            max-width: 462px;
            width: 100%;
          }

          .title {
            h2 {
              letter-spacing: 1px;
            }
          }

          .info {
            margin-top: 10px;

            .miles {
              color: $light-gray;
            }

            .details-link {
              margin-left: 20px;
              text-decoration: none;
              color: $light-blue;

              .details {
                position: relative;
                padding-right: 18px;
                letter-spacing: 0.7px;

                &:after {
                  position: absolute;
                  font-family: "icomoon";
                  content: "\ea3b";
                  font-size: 10px;
                  right: 0px;
                  top: 50%;
                  transform: translateY(-50%)
                }
              }
            }
          }
        }

        .right-column {
          margin-left: 144px;

          @include media('<desktop') {
            margin-left: 0;
            flex: 1;
          }

          @include media('<laptop') {
            margin-left: 20px;
            justify-content: flex-start;
          }

          @include media('<phone') {
            margin-left: 0px;
          }

          input {
            height: 18px;
            width: 18px;
            margin: 0px;
            padding: 0px;
            background-color: none;
          }

          form {
            width: 315px;

            @include media('<laptop') {
              flex-direction: row;
              width: 427px;
            }

            @include media('<phone') {
              flex-direction: column;
              flex: 1;
              width: auto;
            }

            .form-title {
              text-transform: uppercase;
              color: $gray;

              @include media('<laptop') {
                width: 85px;
                margin-top: 20px;
              }

              @include media('<phone') {
                width: auto;
              }
            }

            .three-options {
              margin-top: 10px;

              @include media('<laptop') {
                flex: 1;
                margin-top: 20px;
                margin-left: 30px;
              }

              @include media('<phone') {
                margin-left: 0px;
                flex-direction: column;
                margin-top: 10px;
              }

              .label {

                @include media('<phone') {
                  padding: 10px 0;
                  align-items: center;
                  border-bottom: solid 1px $border-gray;

                  &:first-child {
                    border-top: solid 1px $border-gray;
                    ;
                  }
                }

                .data {
                  margin-left: 10px;

                  @include media('<phone') {
                    flex-direction: row;
                    flex: 1;
                    justify-content: space-between;
                  }

                  .time {
                    color: $blue;
                  }

                  .price {
                    margin-top: 10px;
                    color: $blue;
                    letter-spacing: 1.3px;

                    @include media('<phone') {
                      margin-top: 0px;
                    }

                  }
                }
              }
            }
          }
        }
      }

      .right-block {
        // margin-right: 41px;
        padding-right: 4px;

        @include media('<laptop') {
          align-items: flex-start;
          padding-top: 5px;
        }

        @include media('<phone') {
          align-items: center;
          padding-top: 20px;
          justify-content: center;
        }
      }
    }
  }
}